<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h2>Hello, <span style="color: blueviolet"><%= email %></span></h2>
      <p>
        You logged in to your account in <%= today.toDateString() %> at <%=
        today.toLocaleTimeString() %>
      </p>
      <p style="color: gray">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum,
        vitae reiciendis cum recusandae odit quam repellendus repudiandae amet
        veniam ullam eum, voluptatibus delectus expedita ut corporis in
        asperiores inventore maiores hic eveniet provident ea accusantium
        doloremque. Temporibus exercitationem numquam quod in odit libero iusto
        eveniet! Natus adipisci veritatis inventore error.
      </p>
    </div>
  </body>
</html>
