<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify email</title>
  </head>
  <body>
    <div style="font-family: sans-serif">
      <h2>Verify your email address</h2>
      <p>Click on the link in the beloow to active your account</p>

      <a href="<%= link %>">Verify you Account</a>
    </div>
  </body>
</html>
